# Airflow & Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW_SECRET_KEY=your_secret_key_here

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# API ключи (зарегистрируйтесь бесплатно)
FRED_API_KEY=your_fred_api_key_here
OILPRICE_API_KEY=your_oilprice_api_key_here
EIA_API_KEY=your_eia_api_key_here